{% extends 'default.html' %}
{% block title %}
Messenger
{% endblock title %}
{% block content %}

  <section class="content">
      <div class="is-container">
          <p align="center"><a class="new-button" href="{% url 'my_chats' %}">Мои чаты</a></p>
      </div>
<h1 align="center">Rooms</h1>
      <div>
          <table>
{% for chat in chats %}
              {% if chat.type  == "ROOM" %}
           <tr>
                <td>{{ chat.room_name }}</td>
                <td>{{ chat.author }}</td>
                <td><a class="new-button" href="{% url 'chat_room' chat.room_name %}">Open Chat</a></td>

               {% endif %}
          </tr>
{% endfor %}
</table>
      </div>
  </section>
<h1 align="center">List users</h1>
    <div>
        <table>
        {% for user in users %}
            <tr>
                <td> {{ user.name }} </td>
                <td align="right"> <a class="new-button" href="{% url 'profile' user.pk %}">Open profile</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>


{% endblock content %}