{% extends 'default.html' %}

{% block title %}
Profile
{% endblock title %}

{% block content %}
<div class="is-container">
{% if user_pk %}
  <h1>{{ user_pk.user }}</h1>
    <br>
        <div>
            {% if user_pk.avatar %}
                <img class="image_class" src="http://localhost:8000/media/{{user.avatar}}" alt="{{user_pk.user}}" style="width: 250px; height: 250px;">
            {% else %}
                <img class="image_class" src="http://localhost:8000/media/default/no-photo.jpg" alt="No Photo" style="width: 250px; height: 250px;">
            {% endif %}
        </div>
    <br>
        <div>
            {% if user_pk != user_2 %}
                {% if chats %}
                    <div>
                        <a class="new-button" href="{% url 'room' chats.room_name %}">Open Chat</a>
                    </div>
                {% else %}
                    <div>
                        <a class="new-button" type="submit" id="create_chat">Create Chat</a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
{% endif %}
</div>


<script>
document.querySelector('#create_chat').onclick = function(e) {
    var author = '{{request.user.id}}';
    var user = '{{user_pk.user}}';
    var userId = '{{user.id}}';
    const url = "http://127.0.0.1:8000/api/chat/";
    const data = {
    "author": author,
    "type": "CHAT",
    "room_name": user,
    "participants": [userId]

    };

        fetch(url, {
          method: "POST",
          headers: {
            "X-CSRFToken": '{{csrf_token}}',
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        })
          .then(response => response.json())
          .then(data => console.log(data))
          .catch(error => console.error(error));

}


</script>
{% endblock content %}